* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
  height: 100%;
  font-size: 16px;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: max(300px, 20vw);
  flex-shrink: 0;
  flex-grow: 0;
}

.main {
  flex-grow: 1;
}

/* HEADER */

.header {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: navy;
  font-size: 1.5rem;
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.navbar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
}

.navbar-button:hover {
  background-color: rgba(64, 64, 128);
}

.navbar-button img {
  width: 2rem;
  filter: invert(1);
}

.header .title {
  justify-self: center;
  color: white;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.header-buttons button {
  font-size: 1.25rem;
  padding: 8px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}

.header-buttons button:hover {
  background-color: rgb(223, 223, 223);
}

/* SIDEBAR */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color:lightsteelblue;
  padding: 30px 20px;
}

.sidebar.hidden {
  display: none;
}

.sidebar .title {
  padding-left: 12px;
  font-size: 1.8rem;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
  cursor: pointer;
  padding: 6px;
  padding-left: 12px;
  border-radius: 6px;
}

.project-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.project:hover {
  background-color: rgb(160, 180, 207);
}

.project.selected {
  background-color: rgb(133, 156, 185);
}

.project.selected .project-title {
  font-weight: bold;
}

.project-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3px;
}

.project-button {
  display: flex;
  align-items: center;
}

.project-button img {
  width: 1.5rem;
}

.project-button.rename img:hover {
  filter: invert(1);
}

.project-button.delete img:hover,
.project-button.cancel img:hover {
  filter: invert(19%) sepia(96%) saturate(7384%) hue-rotate(359deg) brightness(111%) contrast(116%);
}

.project-button.confirm img:hover {
  filter: invert(75%) sepia(63%) saturate(6849%) hue-rotate(86deg) brightness(105%) contrast(118%);
}

.project-title-input {
  flex-grow: 1;
  flex-shrink: 1;
  font-size: 1.2rem;
  min-width: 0;
  padding: 3px 6px;
  margin: 6px -3px;
  outline: none;
  border: none;
  border-radius: 5px;
}

.add-project {
  list-style: none;
}

.add-project img {
  cursor: pointer;
  width: 2rem;
}

.add-project img:hover {
  filter: invert(1);
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: aliceblue;
  padding: 30px 10vw;
}

.main .title {
  font-size: 2.4rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}

.todo {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "check title infos buttons"
    ". description . .";
  align-items: center;
  column-gap: 30px;
  row-gap: 2px;
}

.todo img {
  width: 1.5rem;
}

.todo-check {
  grid-area: check;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.todo-check img.checked {
  filter: invert(30%) sepia(60%) saturate(1731%) hue-rotate(90deg) brightness(96%) contrast(104%);
}

.todo:not(.complete) .checked {
  display: none;
}

.todo.complete .unchecked {
  display: none;
}

.todo-check img.unchecked:hover {
  filter: invert(51%) sepia(2%) saturate(0%) hue-rotate(286deg) brightness(98%) contrast(93%);
}

.todo.complete .todo-title,
.todo.complete .todo-description {
  text-decoration: line-through;
}

.todo-title {
  grid-area: title;
  font-size: 1.3rem;
}

.todo-description {
  grid-area: description;
  font-size: 1rem;
}

.todo-infos {
  grid-area: infos;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.todo-info.date {
  font-size: 0.95rem;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.todo-info.priority.high {
  filter: invert(17%) sepia(82%) saturate(7372%) hue-rotate(358deg) brightness(120%) contrast(114%);
}

.todo-info.priority.medium {
  filter: invert(57%) sepia(87%) saturate(952%) hue-rotate(0deg) brightness(103%) contrast(104%);
}

.todo-info.priority.low {
  filter: invert(60%) sepia(82%) saturate(4595%) hue-rotate(190deg) brightness(99%) contrast(103%);
}

.todo-buttons {
  grid-area: buttons;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}

.todo-button {
  cursor: pointer;
}

.todo-button:hover {
  filter: invert(51%) sepia(2%) saturate(0%) hue-rotate(286deg) brightness(98%) contrast(93%);
}

.todo-button.delete:hover {
  filter: invert(17%) sepia(82%) saturate(7372%) hue-rotate(358deg) brightness(120%) contrast(114%);
}

.add-todo {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

.add-todo img {
  cursor: pointer;
  width: 1.3rem;
}

.add-todo img:hover {
  filter: invert(60%) sepia(82%) saturate(4595%) hue-rotate(190deg) brightness(99%) contrast(103%);
}

/* TODO DIALOG */

dialog {
  margin: 25vh auto;
  width: min(90%, 700px);
  border: 1px solid grey;
  border-radius: 5px;
}

dialog > div {
  display: flex;
  flex-direction: column;
}

.dialog-header,
.dialog-body,
.dialog-buttons {
  padding: 20px;
}

.dialog-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.dialog-header .title {
  font-size: 1.6rem;
}

.dialog-header .close {
  width: 1.5rem;
  cursor: pointer;
  filter: invert(39%) sepia(1%) saturate(0%) hue-rotate(134deg) brightness(103%) contrast(92%);
}

.dialog-header .close:hover {
  filter: invert(0%) sepia(100%) saturate(7500%) hue-rotate(181deg) brightness(112%) contrast(113%);
}

.dialog-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dialog-body .form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dialog-body * {
  font-size: 1rem;
}

.dialog-body input,
.dialog-body select,
.dialog-body .textarea {
  color: rgb(48, 48, 48);
}

.dialog-body input,
.dialog-body .textarea {
  padding: 5px;
  line-height: 1.2em;
  border: 1px solid grey;
}

.dialog-body input,
.dialog-body select {
  height: 2em;
}

.dialog-body .textarea {
  overflow: hidden;
  resize: vertical;
  min-height: 4.4em;
}

.dialog-body .form-group.warning input,
.dialog-body .form-group.warning .textarea,
.dialog-body .form-group.warning select {
  border-color: red;
  outline-color: red;
}

.dialog-body .warning-text {
  color: red;
  font-size: 0.9rem;
}

.dialog-body .form-group:not(.warning) > .warning-text {
  display: none;
}

.dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
}

.dialog-buttons button {
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.dialog-buttons .close {
  border: 1px solid black;
}

.dialog-buttons .close:hover {
  background-color: gray;
  color: white;
}

.dialog-buttons .submit {
  background-color: navy;
  color: white;
  border: none;
}
